h1 {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #FF0000;
}
p {
    TEXT-ALIGN: justify;
    word-spacing: 1px;
}
.text-red {
    color: #ff0000;
    font-weight: bold;
}
.text-blue {    
    color: #0000ff;
    font-weight: bold;
    font-style: italic;
}
body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    margin: 0;
}
.signature {
    text-decoration: underline;
    text-align: right;
    margin-top: 20px;
}
.content-container{
    max-width: 750px;
    padding: 20px;
    text-align: justify;
}